<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/addformstyles.css">
</head>
<body>
<div class="container">
    <div class="row header">
        <h1>Add Book Form &nbsp;</h1>
        <h3>Fill out the form below to Add a Book to Library!</h3>
    </div>
    <div class="row body">
        <!--Dont forget form thymeleaf actions nesscary for thymeleaf to see route from controller and objects from model-->
        <form th:action="@{/AddBook}" th:object="${readingbook}" method="post">
            <ul>

                <li> <input type="hidden" th:field="*{id}" />
                    <p class="left">
                        <label for="booktitle" >Book Title</label>
                        <!--Make sure to use proper thymeleaf attributes for forms and fields not th:text-->
                        <input th:field="${readingbook.title}" type="text" name="booktitle" placeholder="booktitle" />
                    </p>
                    <p class="pull-right">
                        <label for="bookauthour">Book Authour</label>
                        <input th:field="${readingbook.authour}"  type="text" name="bookauthour" placeholder="bookauthour" />
                    </p>
                </li>

                <li>
                    <p>
                        <label for="yearofpublication">Year of Publication <span class="req">*</span></label>
                        <input th:field="${readingbook.yearofpublication}" type="yearofpublication" name="yearofpublication" placeholder="yearofpublication" />
                    </p>
                </li>

                <li>
                    <p>
                        <label for="ISBN Number">ISBN Number <span class="req">*</span></label>
                        <input th:field="${readingbook.ISBN}" type="ISBN" name="ISBN" placeholder="ISBN" />
                    </p>
                </li>

                <li>
                    <p>
                        <label for="Checkout Status">Book Checkout <span class="req">*</span></label>
                        <input th:field="${readingbook.checkoutstatus}" type="checkoutstatus" name="checkoutstatus" placeholder="checkoutstatus" />
                    </p>
                </li>
                <li><div class="divider"></div></li>


                <li>
                    <input class="btn btn-submit" type="submit" value="Save Book to Library"  th:href="@{/addBook}"/>
                </li>

            </ul>
        </form>
    </div>
</div>
</body>
</html>