<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Show Books</title>
</head>
<body>



<div class="row" th:fragment="navbar">
    <div class="container-fluid">
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/AddBook}">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ListBook}">Show our Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<a th:href="@{/ListBook}">Show All Books</a><br />

<table>
    <tr>
        <th>Title</th>
        <th>Authour</th>
        <th>Year of Publication</th>
        <td>ISBN Number</td>
        <td>Book Checkout</td>
    </tr>

    <tr th:each="readingbook : ${readingbooklist}">
        <td th:text="${readingbook.title}"></td>
        <td th:text="${readingbook.authour}"></td>
        <td th:text="${readingbook.yearofpublication}"></td>
        <td th:text="${readingbook.ISBN}"></td>
        <td th:text="${readingbook.isCheckedOut}"></td>


        <td>
            <a th:href="@{/update/{id}(id=${readingbook.id})}">Return or Borrow This Book From Library</a>
            <a th:href="@{/detail/{id}(id=${readingbook.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${readingbook.id})}">Remove this Book From The Library</a>
        </td>
    </tr>
</table>

<!--<label>Title</label><span th:text="${readingbook.title}"></span><br />-->
<!--<label>Authour</label><span th:text="${readingbook.authour}"></span><br />-->
<!--<label>ISBN</label><span th:text="${readingbook.ISBN}"></span><br />-->
<!--<label>Checkout Status</label><span th:text="${readingbook.isCheckedOut}"></span><br />-->
<!--<label>Year of Publication</label><span th:text="${readingbook.yearofpublication}"></span><br />-->
<a th:href="@{/delete/{id}(id=${readingbook.id})}">Delete this
    book</a>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>